
<div class="modal-header">
    <h3 class="modal-title">Über <span class="title-font">POI Tour</span></h3>
</div>
<div class="modal-body">
<p>
	POI Tour ist eine neuartige Touren-Applikation, die es ermöglicht eine personalisierte Tour für Fussgänger zu erstellen um möglichst viele Interessen unter gegebenen Zeitumständen besuchen.
</p>

<p>
	Die Applikation wurde durch <a target="_blank" href="http://xing.fabioscala.ch/">Fabio Scala</a> und unter der Aufsicht von <a target="_blank" href="http://www.ifs.hsr.ch/Stefan-Keller.5953.0.html">Prof. Stefan Keller</a> im Rahmen einer Informatik Studienarbeit im Herbstsemester 2014 am <a target="_blank" href="http://www.hsr.ch/geometalab">Geometa Lab</a> der <a target="_blank" href="http://www.hsr.ch/"> HSR Hochschule für Technik Rapperswil</a> entwickelt.
</p>

<p>
	Der Programmcode ist frei und unter der <a target="_blank" href="http://opensource.org/licenses/MIT">MIT Lizenz</a> auf <a target="_blank" href="https://github.com/fabioscala/poitour">GitHub</a> verfügbar.
</p>


</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="$close()">OK</button>
</div>
